{% extends "base.html" %}

<!DOCTYPE html>
<html lang="english">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Everything dice shop</title>
</head>
<body>
    {% block content %}
        <div class="container">
            {% for portion in sections %}
                <div class="container text-center">
                    <h2>{{ portion[0] }}</h2>
                </div>
                {% for item in portion[1] %}
                    <div class="item_listing">
                    <ul>
                        <img src="{{ url_for('static', filename=item.thumbnail_img) }}"
                             class="img-thumbnail img-responsive"
                             alt="{{ item.listing_name }}">
                        <li>
                            <a href="{{ url_for('loadItem', item_id=item.listing_id) }}">
                                {{ item.listing_name }}
                            </a>
                        </li>
                        <li>
                            {{ 'Price : £' ~ item.avg_price }}
                        </li>
                        <li>
                            {{ 'Environmental footprint : ' ~ item.footprint ~ 'kg emissions'}}
                        </li>
                    </ul>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>
