{% extends "base.html" %}

<!DOCTYPE html>
<html lang="english">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Everything dice shop</title>
</head>
<body>
    {% block content %}
        <div class="container">
            {% for portion in sections %}
                {% if portion[0] == "All Items" %}
                    <div class="container">
                        <h2 class="display-2">{{ portion[0] }}
                            <a class="chevron-arrow" href="{{ url_for('loadCategory', category=portion[0]) }}">
                                <span class="bi bi-chevron-double-right"></span>
                                <span class="bi bi-chevron-double-right"></span>
                                <span class="bi bi-chevron-double-right"></span>
                            </a>
                        </h2>
                    </div>
                {% else %}
                    <div class="container">
                        <h2 class="display-2">{{ portion[0] }}</h2>
                    </div>
                {% endif %}
                <div class="portion-wrapper">
                    <div class="portion container row">
                        {% for item in portion[1] %}
                            <div class="item-listing card col">
                                <div class="item-img card-img-top">
                                    <img src="{{ url_for('static', filename=item.thumbnail_img) }}"
                                     class="listing-img img-thumbnail img-responsive"
                                     alt="{{ item.listing_name }}">
                                </div>

                                <div class="listing-info card-body">
                                    <div class="listing_title card-title">
                                        <a href="{{ url_for('loadItem', item_id=item.listing_id) }}">
                                            {{ item.listing_name }}
                                        </a>
                                    </div>

                                    <div class="listing_price card-text">
                                        {{ 'Price : £' ~ item.avg_price ~ '0' }}
                                    </div>

                                    <div class="listing_footprint card-text">
                                        {{ 'Environmental footprint : ' ~ item.footprint ~ 'kg emissions' }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>
