{% extends "base.html" %}

<!DOCTYPE html>
<html lang="english">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invoices</title>
</head>
<body>
    {% block content %}
        <div class="whole-page container-fluid">
            <div class="container text-center">
                <h2 class="display-2">Thank you for shopping with us!</h2>
            </div>

            <div class="container text-center">
                <h3 class="display-3">Here is your invoice number: {{ invoice_number }}</h3>
            </div>

            <div class="invoice-page container-fluid row">
                <div class="checkout-title container text-center">
                    <h3 class="display-3">
                        Purchase Summary:
                    </h3>
                </div>

                <div class="all-invoice-items container">
                    {% for item in basket %}
                        <div class="invoice-item container border row">
                            <div class="basket-img container col-3">
                                <img src="{{ url_for('static', filename=item.listing_img) }}"
                                         class="img-thumbnail img-responsive"
                                         alt="{{ item.listing_name }}">
                            </div>

                            <div class="basket-item-info container col-9">
                                <div class="invoice-listing-title container">
                                    <h3 class="display-3">{{ item.listing_name }}</h3>
                                </div>

                                <div class="invoice-option container">
                                    <div class="invoice-option-info">
                                        {{ 'Option selected: ' ~item.option_name }}
                                    </div>
                                </div>

                                <div class="invoice-option-quantity container">
                                    <div class="invoice-option-info">
                                        {{ 'Quantity: ' ~ item.quantity }}
                                    </div>
                                </div>

                                <div class="invoice-option-price container">
                                    <div class="invoice-option-info">
                                        {{ '£' ~ item.option_price*item.quantity ~ '0' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="all-prices-display border container">
                    <div class="prices-display-title container">
                        <h3 class="display-3">Total price:</h3>
                    </div>

                    <div class="divide-line-separator">
                        <hr class="mt-1 mb-1"/>
                    </div>

                    <div class="individual-prices-display container">
                        {% for item in basket %}
                            <div class="individual-price container">
                                {% if item == basket[0] %}
                                    <h3 class="display-3 formatted-individual-price float-end">
                                        {{ '£' ~ item.option_price * item.quantity ~ '0' }}
                                    </h3>
                                {% else %}
                                    <h3 class="display-3 formatted-adder">+
                                        <span class="formatted-individual-price float-end">
                                            {{ '£' ~ item.option_price * item.quantity ~ '0' }}
                                        </span>
                                    </h3>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="divide-line-separator">
                        <hr class="mt-1 mb-1"/>
                    </div>

                    <div class="total-price container">
                        <h3 class="display-3">Total:
                            <span class="formatted-total-price float-end">{{ '£' ~ total_price ~ '0' }}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="home-url container text-center">
                <a href="{{ url_for('homePage') }}">Back to home page</a>
            </div>
        </div>
    {% endblock %}
</body>
</html>