<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category_name }}</title>
</head>
<body>
    <h1>Everything-dice shop</h1>
    <ul>
        <li><a href="{{url_for('homePage')}}">Home</a></li>
        {% for item_category in categories %}
            <li><a href="{{ url_for('loadCategory', category=item_category) }}">{{ item_category }}</a></li>
        {% endfor %}
    </ul>
    <h2>{{ category_name }}</h2>
    <ul>
        {% for item in category_items %}
            {% if item.in_stock %}
                <li><a href="{{ url_for('loadItem', item_id=item.listing_id) }}">{{ item.listing_name }}</a></li>
                <img src="{{ url_for('static', filename=item.thumbnail_img) }}" alt="{{ item.listing_name }}">
                <li>{{ 'Price : ' ~ item.avg_price }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>