{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ category_name }}</title>
</head>
<body>
    {% block content %}
        <div class="container text-center">
            <h2>{{ category_name }}</h2>
        </div>
        <div class="container">
            <ul>
                {% for item in category_items %}
                    <div class="item_listing">
                        <img src="{{ url_for('static', filename=item.thumbnail_img) }}"
                             class="img-thumbnail img-responsive"
                             alt="{{ item.listing_name }}">
                        <a href="{{ url_for('loadItem', item_id=item.listing_id) }}">
                            {{ item.listing_name }}
                        </a>
                        <p>{{ 'Price : £' ~ item.avg_price }}</p>
                        <p>{{ 'Environmental footprint : ' ~ item.footprint }}</p>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
</body>
</html>