<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category_name }}</title>
</head>
<body>
    <h1>Everything-dice shop</h1>
    <ul>
        <li><a href="{{url_for('homePage')}}">Home</a></li>
        {% for item_category in categories %}
            <li><a href="{{ url_for('loadCategory', category=item_category) }}">{{ item_category }}</a></li>
        {% endfor %}
    </ul>
    <h2>{{ item.listing_name }}</h2>
    <img src="{{ url_for('static', filename=item.thumbnail_img) }}" alt="{{ item.listing_name }}">
    {% if item.in_stock %}
        {% for option in item_options %}
            {% if option.option_inStock %}
                <p>{{ 'Options : ' ~ option.option_name }}</p>
                <p>{{ 'Price : ' ~ option.option_price }}</p>
                <img src="{{ url_for('static', filename=option.option_img) }}" alt="{{ option.option_name }}">
            {% else %}
                <p>Out of stock</p>
            {% endif %}
        {% endfor %}
        <p>Add to basket</p>
    {% else %}
        <p>Out of stock</p>
    {% endif %}
</body>
</html>